.mainMenu {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Inter", "Segoe UI", sans-serif;
    color: #1b3c4f;
}

/* === BODY === */
.menuBody {
    text-align: center;
    margin-top: 80px;
    position: relative;
    z-index: 1;
}

