.login-prompt-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 100vh;
}

.login-prompt-box {
    position: relative;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    width: 90%;
    max-width: 450px;
}

.login-prompt-close-btn{
    position: absolute;
    top: 10px;
    left: 15px;

    background: none;
    border: none;
    font-size: 1.75rem;
    color: #888;
    cursor: pointer;
    line-height: 1;
}

.login-prompt-content {
    text-align: center;

    padding: 2.5rem;
}

.menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    width: 100vw;
    height: 100vh;
}

.home {
    width: 35px !important; 
    height: 35px !important;
    margin-right: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    left: 10px;
    bottom: 3px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}

.home:hover {
    filter: brightness(0.8)
}

.menu-button-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: white;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    width: 90%;
    max-width: 450px;
}

.menu-button-box button {
    background-color: #416d8e;
    color: #fff;
}

.menu-button-box button:hover {
    background-color: #2f546e;
}


.join-screen-overlay{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 100vh;
}

.join-screen-box{
    position: relative;
    background-color: white;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 450px;
}

.join-screen-back-btn{
    position: absolute;
    top: 10px;
    left: 15px;

    background: none;
    border: none;
    font-size:1.7rem;
    color: #888;
    cursor: pointer;
    line-height: 0;
}

.join-screen-contents{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.join-screen-contents input {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid#ccc;
    border-radius: 5px;
}

.join-screen-contents button{
    flex-grow: 0;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}