.login-prompt-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 100vh;
}

.login-prompt-box {
    position: relative;

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    width: 90%;
    max-width: 450px;
}

.login-prompt-close-btn{
    position: absolute;
    top: 10px;
    left: 15px;

    background: none;
    border: none;
    font-size: 1.75rem;
    color: #888;
    cursor: pointer;
    line-height: 1;
}

.login-prompt-content {
    text-align: center;

    padding: 2.5rem;
}

.menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    width: 100vw;
    height: 100vh;
}

.home {
    width: 35px !important; 
    height: 35px !important;
    margin-right: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    left: 10px;
    bottom: 3px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}

.home:hover {
    filter: brightness(0.8)
}

.menu-button-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: white;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    width: 90%;
    max-width: 450px;
}

.menu-button-box button {
    background-color: #416d8e;
    color: #fff;
}

.menu-button-box button:hover {
    background-color: #2f546e;
}


.join-screen-overlay{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.1);
}

.join-screen-box{
    position: relative;
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 380px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.join-screen-back-btn{
    position: absolute;
    top: 10px;
    left: 15px;

    background: none;
    border: none;
    font-size:1.7rem;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    line-height: 1;
    padding: 0;
}

.join-body-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px 15px;
    align-items: center;
    margin-top: 15px;
}

.join-label {
    font-weight: 700;
    font-size: 0.95rem;
    color: #000;
    text-align: left;
}

.join-input {
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    border: 1px solid#ccc;
    border-radius: 4px;
    outline: none;
}

.join-input:focus {
    border-color: #2D9CDB;
}

.join-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.join-status-text{
    font-size: 1rem;
    color: #333;
}

.join-action-btn {
    padding: 8px 24px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background-color: #2D9CDB;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.join-action-btn:hover{
    background-color: #2488c2;
}

.join-error-text {
    color: red;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 5px;
}