.trackSelectorContainer {
    position: relative;
    min-width: 260px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.playButton {
    position: relative;
    width: 147px;
    background: transparent;
    color: #416d8e;
    border: none;
    border-radius: 0;
    font-size: 15px;
    cursor: pointer;
}

/* Outer wheel */
.trackWheel {
  width: 200px;
  height: 120px;
  border-radius: 0rem;
  background-color: transparent;
  overflow: hidden;
  user-select: none;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* WheelPickerDemo.module.css */
.trackLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.discIcon {
  width: 20px;
  height: 20px;
  background-image: url("../assets/disc.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

/* Each option (including current) */
.trackItem {
  color: #416d8e; 
  font-size: 1rem;
  font-weight: 500;
  transition: opacity 0.3s, transform 0.3s, color 0.3s;
  opacity: 0.6;
  transform: scale(0.9);
  text-align: center;
  max-width: 170px;
}

/* Highlight band (center slot) */
.current {
  background-color:none;
  font-size: 1rem;
  color: #416d8e; 
  opacity: 1;
  font-weight: 500;
  max-width: 170px;
  text-align: center;      /* ensure labels start aligned */
}
